@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  display: none;
}

body .background {
  background: url('/background.jpg') #0d010d;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -99;
}

.video {
  position: relative;
}

.video::after {
  content: '';
  width: 50%;
  height: 1px;
  border: 1px solid fuchsia;
  position: absolute;
  top: 50%;
  right: -50%;
}

.video::before {
  content: '';
  width: 50%;
  height: 1px;
  border: 1px solid fuchsia;
  position: absolute;
  top: 50%;
  left: -50%;
  transform-origin: 0;
}

.tumbnail {
  position: relative;
}

.tumbnail::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 4, 8, 0.496);
}

.leaderboard {
  box-shadow: 0 0 20px 3px rgb(255 0 255 / 40%);
  border: 1px solid #f72df7;
  background-color: rgba(0, 0, 0, 0.8);
}